# Auto detect text files
* text=auto eol=lf

# Explicitly declare files that should always have LF line endings
*.php text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf

# Exclude files from export
/.* export-ignore
/tests export-ignore
/docker export-ignore
/Makefile export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/.php-cs-fixer.dist.php export-ignore
/captainhook.json export-ignore