parameters:
    level: 5
    paths:
        - src/php
        - tests/php

    # Performance
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4

    # Type Coverage
    reportUnmatchedIgnoredErrors: true